{% extends "homepage.html" %}

{% block titulo %}
    Perfil - {{ usuario }}
{% endblock %}

{% block body %}
<body>
    {% include "navbar.html" %}

    <div class="container">
        {% if form %}

          <form method="post" enctype="multipart/form-data" class="bloco-add-img">
            {{ form.csrf_token }}
            <h2>{{ usuario.username }} - Enviar foto</h2>

              <div class="bloco-arquivo">
                <label for="foto" class="botao-arquivo">
                    Escolher arquivo
                    {{ form.foto(class="input-arquivo", id="foto") }}
                </label>
                <span id="imagem-arquivo" class=""></span>
                {{ form.botao_confirmacao(class="botao-login") }}
              </div>
          </form>

        {% endif %}

        <div class="conteudo">
            {% for foto in usuario.fotos %}
                <div class="bloco-imagem">
                  <img src="{{ url_for('static', filename='fotos_posts/{}'.format(foto.imagem)) }}" />
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        let input = document.getElementById("foto");
        let imagemArquivo = document.getElementById("imagem-arquivo");

        input.addEventListener("change", () => {
            let inputImagem = input.files[0];

            imagemArquivo.classList.add("visivel");
            imagemArquivo.innerText = inputImagem.name;
         });
    </script>

</body>
{% endblock %}

